export GEOCORE_API_DOMAIN=https://geocore.api.geo.ca
export OIDC_CLIENT_ID=6so9eqbl6a258blnb9g5umjh03
export COGNITO_USERPOOL_ID=ca-central-1_uVmwsnfXK
export OIDC_CUSTOM_DOMAIN=https://ca-central-1uvmwsnfxk.auth.ca-central-1.amazoncognito.com
